@model GetByIdProductDto
@{
    ViewData["Title"] = "Ürün Düzenle";
    Layout = "_Layout";
}

<div class="container border p-3">
    <h3>Ürün Düzenle</h3>
    <form asp-controller="Product" asp-action="ProductUpdate" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="ProductId">
        <div class="form-group">
            <label for="ProductName">Ürün Adı</label>
            <input type="text" asp-for="ProductName" id="ProductName" class="form-control">
        </div>
        <div class="form-group">
            <label for="ProductDescription">Açıklama</label>
            <input type="text" asp-for="ProductDescription" id="ProductDescription" class="form-control">
        </div>
        <div class="form-group">
            <label for="ProductPrice">Fiyat</label>
            <input type="text" asp-for="ProductPrice" id="ProductPrice" class="form-control">
        </div>
        <div class="form-group">
            <label for="ProductStock">Stok</label>
            <input type="text" asp-for="ProductStock" id="ProductStock" class="form-control">
        </div>
        <div class="form-group">
            <label for="ProductStatus">Onay</label>
            <select asp-for="ProductStatus" id="ProductStatus" class="form-control">
                    <option value="true">Açık</option>
                    <option value="false">Kapalı</option>
            </select>
        </div>
        <div class="form-group">
            <label for="CategoryId">Kategori</label>
            <select asp-for="CategoryId" id="CategoryId" class="form-control">
                @foreach (var item in ViewBag.categoryList)
                {
                    if (item.CategoryId == Model.CategoryId)
                    {
                        <option value="@item.CategoryId" selected>@item.CategoryName</option>
                    } else
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="ProductImage">Resim</label>
            <input name="file" type="file" id="ProductImage" class="form-control">
            <img src="https://storage.cloud.google.com/firstbucketoguz/@Model.ProductImage" alt="" style="width: auto; height: 75px; margin-top: 20px;">
        </div>
        <button type="submit" class="btn btn-success">Kaydet</button>
        <a asp-controller="Product" asp-action="ProductList" class="btn btn-light ml-2">Geri</a>
    </form>
</div>